// Hintergrund-Farben
$background-color-main:   rgba(101, 151, 118, 0.459);
$background-color:        rgb(58, 56, 56);
$background-color-subbar: rgb(119, 78, 94);
$background-color-sidebar:rgb(108, 38, 114);

// Farben
$color-h2: blue;


